
.heading-1 {
    font-size: 7rem;
    line-height: 1;
    font-weight: 700;
    color: $color-white;
    letter-spacing: 1.5px;
}

.heading-2 {
    font-size: 5rem;
    line-height: 1;
}

.heading-3 {
    font-size: 4rem;
}

.heading-4 {
    font-size: 1.8rem;
    font-weight: 700;
}

.paragraph {
    color: $color-grey-medium;
    font-size: 1.4rem;
}

